*{
    margin: 0;
    padding: 0;
}
.documentTable {
    margin-top: 50px;
}

.documentTable > tbody th {
    text-align: right;
    vertical-align: top;
}
.documentTable > tbody td {
    vertical-align: top;
}
.documentTable > tbody > tr {
    height: 50px;
}
.documentTable > tbody > tr > td {
    padding-left: 10px;
}
.modal-large {
    max-width: 700px;
    height: 400px;
}
p {
    margin: 0;
}
.add-link-button{
    margin-top: 5px;
}
.alert_position {
    width: 300px;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -150px;
}
.platform_list li{
    float: left;
    width: 85px;
    text-align: center;
   /* margin: 0 15px 10px 0;*/
}
.platform_list .platform_item {
    margin: 0 auto;
}
.platform_list li img{
    width: 50px;
    height: 50px;
}
.platform_list li.selected {
    background-color: #E1FFFF;
    border-radius: 15px;
}
.cursor_pointer {
    cursor: pointer;
}
.documentTable .webuploader-pick {
    background-color: #1e87f0;
    height: 30px;
    padding: 0;
    width: 60px;
    font-size: .875rem;
    line-height: 28px;
}
.documentTable .record_items  th {
    text-align: center;
    width: 120px;
}
.documentTable .record_items td {
    text-align: center;
}
.fileList > li {
    width: 110px;
    position: relative;
    float: left;
    margin-right: 10px;
}

.fileList > li p.title{
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    line-height: 2em;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fileList > li div.file-panel {
    display: none;
    position: absolute;
    top:  86px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    line-height: 2em;
    font-size: 12px;
    color: white;
}
.fileList > li:hover p.title, .fileList > li:hover div.file-panel{
    display: block;
}
.attachment_spin {
    position: absolute;
    top: 25px;
    left: 25px;
}
#configItems .uk-icon {
    color: #39f;
}
#configItems .queueList .trash svg {
    width: 17px;
    height: 17px;
}
