*, ul, p {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.layout {
    min-height: 100vh;
}
.header {
    background: -webkit-linear-gradient(#f5fefe, white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#f5fefe, white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#f5fefe, white); /* Firefox 3.6 - 15 */
    background: linear-gradient(#f5fefe, white); /* 标准的语法 */
    position: relative;
    z-index: 1000;
}
.content {
    background-color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
     -webkit-flex: 1 0 auto;
    -o-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-: 1 0 auto;
}
.footer {
    background: -webkit-linear-gradient(white, #f5fefe); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(white, #f5fefe); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(white, #f5fefe); /* Firefox 3.6 - 15 */
    background: linear-gradient(white, #f5fefe); /* 标准的语法 */
}
.navbar {
    position: relative;
    width: 100%;
}
.login {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.login button {
    margin-right: 20px;
}

.navbar ul{
    background-color: rgba(0, 0, 0, 0);
}
