.logo-gather-demo-wrapper {
    position: relative;
    background: white;
    overflow: hidden;
    height: 100%;
}
.contain-class {
    height: 100%;
}
.logo-gather-demo-wrapper .point-wrapper {
    position: absolute;
}

.logo-gather-demo-wrapper .point {
    border-radius: 100%;
}

.logo-gather-demo-wrapper .right-side {
    width: 300px;
    height: 360px;
    position: absolute;
    right: 0;
    top: 200px;
    bottom: 0;
    left: 300px;
}

.logo-gather-demo-wrapper .right-side * {
    pointer-events: none;
}

@media screen and (max-width: 414px) {
    .exhibition-details-demo {
        overflow: hidden;
    }
    .phone-float-none {
        clear: both;
        margin-left: 0 !important;
    }

    .none {
        display: none;
    }

}
.person-info {
    position: absolute;
    top: 70%;
    left: 65%;
    width: 500px;
    text-align: center;
}
.person-info .title {
    font: 100 16px "Comic Sans MS";
    color: black;
}
.info-item .anticon {
    padding-right: 5px;
}
.canvas-container {
    position: absolute;
    top: 190px;
    left: 20px;
    width: 1000px;
    height: 700px;
}
.canvas {
    position: absolute;
}