.center {
    text-align: center;
}
.skill-container {
    height: 100%;
}
.skill-title {
    height: 70px;
    margin-top: 15px;
}
.skill-describe {
    margin-top: 30px;
}
.skill-describe > div {
    width: 400px;
    margin: 0 auto;
}